@import "tailwindcss";

.container-custom {
  max-width: 1200px;
  margin: auto;
}

.glass {
  background: rgba(255,255,255,0.05);

  backdrop-filter: blur(10px);

  border: 1px solid rgba(255,255,255,0.1);

  border-radius: 24px;
}